extends layout

block content
  h1=title
  p Welcome to #{title}

  p Todo List
  input.input-box(placeholder="get your sh*t together")
  button.add-button Submit
  p.todoItems

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="javascripts/main.js")
